main {
    flex: 1 1 840px;
    margin: 5px 0 3px 10px;
}
main>h2{
    width: 100%;
    color: #eeac3b; 
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

/* form style */
#customer-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 10px 0 10px;
}
#customer-form>label {
    margin-left: auto;
}

#customer-form>.input-container>input{
    width: 100%;
    box-sizing: content-box;
}
#customer-form>.input-container>input{
    width: 100%;
    box-sizing: content-box;
}

#customer-form>.input-container>input[type="radio"]{
    width: auto;
    margin: 0 10px 0 10px;
    padding: 10px 10px;
}
#customer-form input[type="radio"]:checked {
    position: relative;
    accent-color: black;
}
#customer-form input[type="radio"]:checked::after {
    content: "";
    display: block;
    position: absolute;;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 30%;
}

#customer-form .err-msg{
    display: none;
}
#customer-form>.errdiv>input{
    border: rgb(255, 123, 0) solid 1px;
}
#customer-form>.errdiv>.err-msg{
    color: rgb(255, 123, 0);
    display: block;
}

/* select products style */
#products-register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#products-register-container>p {
    order: -1;
    color: #e99031;
    font-weight: bold;
}
#products-register-container>p:first-of-type {
    margin-left: auto;
    margin-right: 25px;
}
#products-register-container>p:nth-of-type(2) {
    margin-left: 25px;
    margin-right: auto;
}
#select-btns{
    order: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

/* buttons style */
#products-register-container button{
    border: #e99031 solid 1px;
    background-color: white;
    border-radius: 3px;
}
#products-register-container button:hover{
    background-color: rgb(226, 226, 226);
}
#products-register-container button:active{
    background-color: rgb(177, 246, 255);
}
#products-register-container>button{
    width: 100px;
}
#select-btns>button{
    margin-bottom: 5px;
    width: 30px;
}
#btn-register{
    margin: 0 5px 5px auto;
}
#btn-clear{
    margin: 0 auto 5px 5px;
}

/* products style */
#list-products{
    margin: 5px 25px 5px 0;
    overflow: auto;
    height: 40vh;
    border: 1px solid rgb(170, 170, 170);
    padding-bottom: 5px;
}
#selected-products{
    background-color: #f4feff;
    margin: 5px 0 5px 25px;
    overflow: auto;
    height: 40vh;
    border: 1px solid rgb(170, 170, 170);
    padding-bottom: 5px;
}

.product-item{
    height: 4em;
    font-size: 1.2rem;
    background-color: inherit;
    border: 1px rgb(170, 170, 170) solid;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    padding: 0 3px 0 3px;
}
.product-item:hover{
    border: 3px solid #ff5e00;
}
.product-item>strong{
    font-size: 1em;
    justify-self: center;
    pointer-events: none;
}
.product-item>strong:last-child{
    color: red;
}

.product-item>strong:first-child{
    font-size: 2em;
}
.product-item[marked="1"]{
    background-color: #e1a139;
    color: white;
}
#products-register-container .draged{
    position: absolute;
    background-color: #e1a139;
    width: 50%;
    z-index: 1;
    opacity: 0.6;
}

/* style table */
table{
    /* table-layout: auto; */
    width: 100%; 
}

tr:nth-child(odd){
    background-color: #f8e4b7;
}

th{
    background-color: #e1a139;
    text-align: center;
}

td:nth-child(even){
    text-align: center;
}

td{
    padding: 0 5px 5px 10px;
}
