footer {
    width: 100%;
    background: #f8e3b6;
    border-radius: 3px;
    border: 1px solid #eda939;
    color: #eda939;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgb(105, 105, 105);
    margin-top: 5px;
}

footer a, footer span {
    color: #eda939;
    margin-left: 10px;
    margin-right: 10px;
}

footer hr {
    border-left: 1.5px solid #eda939;
    height: 1rem;
}

footer a:hover, footer a.current-link {
    background-color: #eda939;
    color: #f8e3b6;
}
