

body {
    display: flex;
    width: 100%;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

#center-page-container{
    width: 1200px;
    position: relative;
}
    

#header {
    width: 100%;
    background: linear-gradient(to top, #a5c9ff, #5a99ff);
    border-radius: 10px;
    height: 6rem;
    color: #c2e9f9;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;


    text-shadow:  0 0 5px #000, 0 0 4px #000, 0 0 3px #000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    box-shadow: 3px 3px 10px #acacac;
}

#nav {
    position: absolute;
    width: 50%;
    top: 5.2rem;
    left : 50%;
    transform: translateX(-50%);
    background-color: #bdd2f8;
    border-radius: 5px; 
    height: 2rem; 
    display: flex;
    box-shadow: 3px 3px 10px #acacac; 
    padding: 0 1rem 0 1rem; 
}

#nav ul {

    flex: 1 1 600px;
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

#nav ul li a{

    color: #5a79d6;
    text-shadow: 0 0 3px #868686;
    text-decoration: none;
}

#nav ul li a:hover, 
#nav ul li a:active, 
#nav ul li a.current-link{
    color: #ead2b5;
} 

.bluehr {
    border: solid 1px dodgerblue
}
